{% include 'contact.njk' %}
<footer class="relative flex flex-col w-full text-lg sm:flex-row sm:justify-center">
  <div class="py-4 pl-0 text-center sm:pl-8">
    <ul class="list-none">
      {% for item in site.social %}
      <li>
        <a class="no-underline hover:text-customRed" href="{{ item.url }}" target="_blank" rel="_noopener">{{ item.title
          }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</footer>
<div class="w-full bg-white">
  <span class="block pb-5 text-sm font-light text-center">
    &copy; {{ site.title }}, <span x-data x-text="new Date().getFullYear()"></span>
  </span>
</div>