<nav id="header"
  class="flex flex-col items-center justify-between w-full px-4 py-1 mb-6 bg-white shadow sm:flex-row sm:px-6 sm:bg-transparent sm:shadow-none">
  <div id="menuHeader"
    class="flex flex-row flex-no-wrap items-center self-start justify-between w-full sm:w-auto sm:self-center sm:flex-none">
    <a aria-label="Home" href="/" class="relative inline transition-all duration-500 delay-300 transform opacity-0 hover:no-underline -left-10" x-init="$el.classList.add('translate-x-8');$el.classList.add('opacity-100')">
      <img src="/img/logo.svg" alt="The Coders Guild Logo" class="m-1" height="60px" width="150px" >
    </a>
    <button id="menuBtn" class="block hamburger sm:hidden focus:outline-none" type="button" onclick="navToggle();"
      aria-label="Show Menu"><span class="hamburger__top-bun"></span><span
        class="hamburger__bottom-bun"></span></button>
  </div>
  <div id="menu"
    class="bg-white fixed inset-0 z-10 flex-col items-center self-end justify-center hidden h-full py-6
    ssw sm:relative sm:w-auto sm:self-center sm:flex sm:flex-row sm:py-0">
    <a class="w-auto px-3 py-3 text-lg font-bold text-center text-gray-500 hover:no-underline hover:text-gray-400 sm:flex sm:py-0"
      href="/about-tcg/">About The Coders Guild</a>
    <a class="w-auto px-3 py-3 text-lg font-bold text-center text-gray-500 hover:no-underline hover:text-gray-400 sm:flex sm:py-0"
      href="/about-courses/">About The Courses</a>
    <a class="w-auto px-3 py-3 text-lg font-bold text-center text-gray-500 hover:no-underline hover:text-gray-400 sm:flex sm:py-0"
      href="/about-apprenticeships/">Apprenticeship with The Coders Guild</a>

  </div>
</nav>
<div id="header-filler"></div>