---
layout: base.njk
---

<div class="bg-white">
  <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="text-center">
      <h1 class="mt-1 text-4xl font-bold tracking-tight text-codersBlue sm:text-5xl lg:text-6xl">{{h1}}</h1>
    </div>
  </div>
</div>


<main>
    {{ content | safe }}
</main>