---
layout: base.njk
---

<div class="overflow-hidden bg-white">
  <div class="relative mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8">
      <div>
        <h2 class="text-lg font-semibold text-indigo-600">Case Study</h2>
        <h3 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Meet {{post.title}}</h3>
      </div>
    </div>
    <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
          <div class="mt-8 lg:mt-0">
        <div class="mx-auto max-w-prose text-base lg:max-w-none post-content text-gray-500">
          {{post.body | safe}}
        </div>
        <div class="social-icons"></div>
      </div>
      <div class="relative lg:col-start-2 lg:row-start-1">
        <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
          <figure>
            <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
              <img class="rounded-lg object-cover object-center shadow-lg" src="{{post.mainImage}}" alt="Image of {{post.title}}" width="1184" height="1376">
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
