---
layout: about.njk
h1: About The Coders Guild
meta_title: The Coders Guild - Technical vocational training provider
meta_description: We offer alternative pathways to success - for individuals, businesses and society.
excerpt: We offer alternative pathways to success - for individuals, businesses and society.
---

<div class="overflow-hidden bg-gray-50 py-16">
  <div class="mx-auto max-w-7xl space-y-8 px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-prose text-base lg:max-w-none">
      <h2 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-codersBlue sm:text-4xl">What makes us different</h2>
    </div>
    <div class="relative z-10 mx-auto max-w-prose text-base lg:mx-0 lg:max-w-5xl lg:pr-72">
      <p class="text-lg text-gray-500">Technology changes lives.</p>
      <p class="text-3xl mt-4 text-gray-500"><strong>And so do we.</strong></p>
    </div>
    <div class="lg:grid lg:grid-cols-2 lg:items-start lg:gap-8">
      <div class="relative z-10">
        <div class="prose prose-codersBlue mx-auto text-gray-500 lg:max-w-none">
          <p>We offer alternative pathways to success - for individuals, businesses and society.</p>
          <p>For over ten years we’ve been providing digital skills training for people looking to start, change or progress their careers with our bootcamps, apprenticeships, advice and training.</p>
          <p>Our standards are high, for our learners, our trainers and the businesses we serve.</p>
          <p>We focus on developing brilliant hires for brilliant businesses, supporting commercial growth, lowering attrition rates, reducing recruitment costs and helping to build strong, capable workforces.</p>
          <p>We want to shape the future of the technology sector, opening doors to new recruits from under-represented backgrounds and providing work-ready hires for companies across the UK. We believe in supporting communities by expanding employment opportunities to strengthen local economies.</p>
          <p>Our vision is to create more opportunities for more people to deliver more in technology.</p>
          <p>Digital skills are essential for the future of the UK economy but the current skills shortage threatens to hamper growth. Success relies on upskilling and reskilling to ensure a flow of talent equipped with industry-ready training to match fast-moving business needs.</p>
          <p>We’re committed to opening up opportunities to a wider cross-section of UK workers to enable more people to develop long-term digital and tech careers. We actively encourage applications from people of all backgrounds - from those at the start of their working lives, to those seeking to develop their technical skills and progress further in the industry.</p>
          <p>Driving equity and equality across the digital and tech sectors is essential to create a pipeline of talent equipped to tackle today’s tech challenges and able to lead the industry into the future..</p>
        </div>
      </div>
      <div class="relative mx-auto mt-12 max-w-prose text-base lg:mt-0 lg:max-w-none">
        <svg class="absolute top-0 right-0 -mt-20 -mr-20 lg:top-auto lg:right-auto lg:bottom-1/2 lg:left-1/2 lg:mt-0 lg:mr-0 xl:top-0 xl:right-0 xl:-mt-20 xl:-mr-20" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
          <defs>
            <pattern id="bedc54bc-7371-44a2-a2bc-dc68d819ae60" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
            </pattern>
          </defs>
          <rect width="404" height="384" fill="url(#bedc54bc-7371-44a2-a2bc-dc68d819ae60)" />
        </svg>
        <blockquote class="relative rounded-lg bg-white shadow-lg">
          <div class="rounded-t-lg px-6 py-8 sm:px-10 sm:pt-10 sm:pb-8">
            <div class="relative mt-8 text-lg font-medium text-gray-700">
              <svg class="absolute top-0 left-0 h-8 w-8 -translate-x-3 -translate-y-2 transform text-gray-200" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
              </svg>
              <p class="relative">The scheme is one of the very best. The assessment process, pre-start bootcamp and knowledgeable trainers mean we get engaged, motivated apprentices contributing to our business from day one.</p>
            </div>
          </div>
          <cite class="relative flex items-center rounded-b-lg bg-codersBlue py-5 px-6 not-italic sm:mt-10 sm:items-start sm:py-5 sm:pl-12 sm:pr-10">
            <span class="relative rounded-full border-2 border-white sm:absolute sm:top-0 sm:-translate-y-1/2 sm:transform">
              <img class="h-12 w-12 rounded-full bg-codersBlue sm:h-20 sm:w-20" src="https://cdn.sanity.io/images/wd1bon7z/production/84b27b5e17a07bd5652dd6a5b8c50f9b9ae5f64a-200x200.jpg" alt="">
            </span>
            <span class="relative ml-4 font-semibold leading-6 text-codersBlue sm:ml-24 sm:pl-1">
              <span class="font-semibold text-white sm:inline">Mark Hope</span>
              <span class="sm:inline text-white">Digital Director at Access</span>
            </span>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>
